@use 'variables';
@import url('https://fonts.googleapis.com/css2?family=Kaisei+Opti:wght@400;700&family=Lora&family=Playfair+Display:wght@400;700&display=swap');

@keyframes main-text-animation {
    100% {
        opacity: 1;
    }
}

body {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

// Navigation panel & main section

main {
    background-image: url(../photos/main-first-image.png);
    background-repeat: no-repeat;

    width: 100%;
    height: auto;
}

nav {
    width: 100%;
    height: 15vh;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    background-image: url(../photos/logo.png);
    background-repeat: no-repeat;

    width: 170px;
    height: 95px;
}

.nav-links {
    font-family: variables.$nav-font;
    font-size: 30px;
}

.nav-links a {
    color: variables.$primary-color;
    transition: color 0.2s ease;
    text-decoration: none;

    padding-left: 60px;
}

.nav-links a:hover {
    color: variables.$secondary-color;
}

.social-media-links a {
    margin-left: 30px;
}

.social-media-links a:hover {
    color: variables.$secondary-color;
}

nav ul {
    list-style: none;

    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
}

.main-text {
    width: 100%;
    height: 85vh;
}

header {
    font-family: variables.$main-font;
    font-size: 50px;
    font-weight: 700;
    color: variables.$primary-color;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    animation: main-text-animation 0.5s ease-out 1s forwards;

    opacity: 0;
}